fastapi
uvicorn[standard]
aiohttp
psutil
numpy
torch
pydantic
aioconsole
edge-tts
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
playwright
opencv-python
pyautogui
pytesseract
pillow
cryptography
